@model IEnumerable<HospitalCMS.Models.DoctorDto>

@{
    ViewBag.Title = "List";
}

<h2>Doctor List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.Name)*@
            Name
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Experience)*@
            Experience
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Phone)*@
            Phone
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Email)*@
            Email
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @*@Html.DisplayFor(modelItem => item.Name)*@
            @item.Name
        </td>
        <td>
            @*@Html.DisplayFor(modelItem => item.Experience)*@
            @item.Experience
        </td>
        <td>
            @*@Html.DisplayFor(modelItem => item.Phone)*@
            @item.Phone
        </td>
        <td>
            @*@Html.DisplayFor(modelItem => item.Email)*@
            @item.Email
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.DoctorId }) |
            @Html.ActionLink("Details", "Details", new { id=item.DoctorId }) |
            @Html.ActionLink("Delete", "ConfirmDelete", new { id=item.DoctorId })
        </td>
    </tr>
}

</table>
