@model IEnumerable<HospitalCMS.Models.DoctorDto>
@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "List";
}

<h2>Doctor List</h2>

<p>
    @if (User.IsInRole("Admin"))
    {
        @Html.ActionLink("Create New", "Create")
    }
</p>
<form action="/Doctor/List" method="GET">
    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-md-3">
                <input style="width:100%" class="form-control" type="text" name="SearchKey" autocomplete="off" />
            </div>
            <div class="col-md-2">
                <input style="width:100%" class="btn btn-primary" type="submit" value="Search" />
            </div>
        </div>
    </div>
</form>


<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            Experience
        </th>
        <th>
            Phone
        </th>
        <th>
            Email
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                
                @Html.ActionLink(@item.Name, "Details", new { id = item.DoctorId })
            </td>
            <td>
                @item.Experience years
            </td>
            <td>
                @item.Phone
            </td>
            <td>
                @item.Email
            </td>
            <td>
                @if ((User.IsInRole("Doctor") && User.Identity.GetUserName() == item.Email) || User.IsInRole("Admin"))
                {
                    @Html.ActionLink("Edit", "Edit", new { id = item.DoctorId }) <span>|</span>
                    if (User.IsInRole("Admin")) { 
                    @Html.ActionLink("Delete", "ConfirmDelete", new { id = item.DoctorId }) <span>|</span>
                    }
                }

                @Html.ActionLink("Details", "Details", new { id = item.DoctorId })

            </td>
        </tr>
    }

</table>
