@model HospitalCMS.Models.SpecialityDto

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Speciality</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Speciality
        </dt>

        <dd>
            @Model.Name
        </dd>

    </dl>
</div>

<div class="row">

    @if (Model.Doctors != null && Model.Doctors.Count() != 0)
    {
        foreach (var doctor in Model.Doctors)
        {
            <a style="margin-top:10px;" href="/Doctor/Details/@doctor.DoctorId">
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        @{
                            string imageurl = "/Content/Images/Doctors/default.jpg";
                            if (doctor.DoctorHasPic)
                            {
                                imageurl = "/Content/Images/Doctors/" + doctor.DoctorId + "." + doctor.PicExtension;
                            }
                        }
                        <img id="profile-pic" style="display:block; max-width:150px; padding-bottom:5px;" alt="@doctor.Name" src="@imageurl" />
                        <div class="caption">
                            <dl class="dl-horizontal">
                                <dt>
                                    Name
                                </dt>
                                <dd>
                                    @doctor.Name
                                </dd>
                                <dt>
                                    Experience
                                </dt>
                                <dd>
                                    @doctor.Experience
                                </dd>

                                <dt>
                                    Mobile
                                </dt>
                                <dd>
                                    @doctor.Phone
                                </dd>
                                <dt>
                                    Email
                                </dt>
                                <dd>
                                    @doctor.Email
                                </dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </a>
        }
    }
    else
    {
        <p>No Doctors assigned to @Model.Name speciality</p>
    }


</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SpecialityId }) |
    @Html.ActionLink("Back to List", "List")
</p>
