@model IEnumerable<HospitalCMS.Models.SpecialityDto>

@{
    ViewBag.Title = "List";
}

<h2>Doctor Speciality List</h2>

<p>
    @if (User.IsInRole("Admin"))
    {
        @Html.ActionLink("Create New", "Create")
    }
</p>
<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>

                @Html.ActionLink(@item.Name, "Details", new { id = item.SpecialityId })
            </td>
            <td>
                @if (User.IsInRole("Admin"))
                {
                    @Html.ActionLink("Edit", "Edit", new { id = item.SpecialityId }) <span>|</span>
                    @Html.ActionLink("Details", "Details", new { id = item.SpecialityId }) <span>|</span>
                    @Html.ActionLink("Delete", "ConfirmDelete", new { id = item.SpecialityId })
                }
            </td>
        </tr>
    }

</table>
