@model HospitalCMS.Models.DonorDto

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Donor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @*@Html.DisplayNameFor(model => model.Department.Name)*@
            Department Name
        </dt>

        <dd>
            @*@Html.DisplayFor(model => model.Department.Name)*@
            @Model.Department.Name
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.Name)*@
            Name
        </dt>

        <dd>
            @*@Html.DisplayFor(model => model.Name)*@
            @Model.Name
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.Email)*@
            Email
        </dt>

        <dd>
            @*@Html.DisplayFor(model => model.Email)*@
            @Model.Email
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.Phone)*@
            Phone
        </dt>

        <dd>
            @*@Html.DisplayFor(model => model.Phone)*@
            @Model.Phone
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.Amount)*@
            Amount
        </dt>

        <dd>
            @*@Html.DisplayFor(model => model.Amount)*@
            @Model.Amount
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DonorId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
