@model HospitalCMS.Models.DonorDto

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Donor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Department Name
        </dt>

        <dd>
            @Model.Department.Name
        </dd>

        <dt>
            Name
        </dt>

        <dd>
            @Model.Name
        </dd>

        <dt>
            Email
        </dt>

        <dd>
            @Model.Email
        </dd>

        <dt>
            Phone
        </dt>

        <dd>
            @Model.Phone
        </dd>

        <dt>
            Amount
        </dt>

        <dd>
            @Model.Amount
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DonorId }) |
    @Html.ActionLink("Back to List", "List")
</p>
