@model HospitalCMS.Models.DonorDto

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Donor</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.DonorId)

    <div class="form-group">
        <label class="control-label col-md-2">Name:</label>
        <div class="col-md-10">
            <input class="form-control" name="Name" value="@Model.Name">

        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Email:</label>
        <div class="col-md-10">
            <input class="form-control" name="Email" value="@Model.Email">

        </div>
    </div>

    <div class="form-group">
         <label class="control-label col-md-2">Department:</label>
        <div class="col-md-10">
            <select class="form-control" name="DepartmentId">
                <option value="x">Please Select</option>

                @foreach (var department in ViewData["Departments"] as IEnumerable<HospitalCMS.Models.DepartmentDto>)

                {
                    string selected = department.DepartmentId == Model.DepartmentId ? "selected" : "";
                    <option @selected value="@department.DepartmentId">@department.Name</option>

                }
            </select>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Phone:</label>
        <div class="col-md-10">
            <input type="number" class="form-control" name="Phone" value="@Model.Phone">

        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Amount:</label>
        <div class="col-md-10">
            <input type="number" class="form-control" name="Amount" value="@Model.Amount">
        </div>
    </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "List")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
