@model IEnumerable<HospitalCMS.Models.DonorDto>

@{
    ViewBag.Title = "List";
}

<h2>Donor List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            Email
        </th>
        <th>
            Phone
        </th>
        <th>
            Amount
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @item.Name
        </td>
        <td>
            @item.Email
        </td>
        <td>
            @item.Phone
        </td>
        <td>
            @item.Amount
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.DonorId }) |
            @Html.ActionLink("Details", "Details", new { id=item.DonorId }) |
            @Html.ActionLink("Delete", "ConfirmDelete", new { id=item.DonorId })
        </td>
    </tr>
}

</table>
