@model HospitalCMS.Models.EventDto

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Event</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @*@Html.DisplayNameFor(model => model.Department.Name)*@
            Department Name
        </dt>

        <dd>
            @* @Html.DisplayFor(model => model.Department.Name)*@
            @Model.Department.Name
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.Title)*@
            Title
        </dt>

        <dd>
            @*@Html.DisplayFor(model => model.Title)*@
            @Model.Title
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.Date)*@
            Date
        </dt>

        <dd>
            @*@Html.DisplayFor(model => model.Date)*@
            Model.Date
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.HasPic)*@
            Picture
        </dt>

        <dd>
            @*@Html.DisplayFor(model => model.HasPic)*@
            @Model.HasPic
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.PicExtension)*@
            Picture Extension
        </dt>

        <dd>
            @*@Html.DisplayFor(model => model.PicExtension)*@
            @Model.PicExtension
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.Description)*@
            Description
        </dt>

        <dd>
            @*@Html.DisplayFor(model => model.Description)*@
            @Model.Description
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.EventId }) |
    @Html.ActionLink("Back to List", "List")
</p>
