@model HospitalCMS.Models.EventDto

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Event</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.EventId)
    @Html.HiddenFor(model => model.HasPic)
    @Html.HiddenFor(model => model.PicExtension)

<div class="form-group">
    @*  @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })*@
    <label class="control-label col-md-2">Title:</label>
    <div class="col-md-10">
        @*@Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })*@
        <input class="form-control" name="Title" value="@Model.Title">
    </div>
</div>

<div class="form-group">
    @* @Html.LabelFor(model => model., htmlAttributes: new { @class = "control-label col-md-2" })*@
    <label class="control-label col-md-2">Date:</label>
    <div class="col-md-10">
        @*@Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })*@
        <input class="form-control" type="datetime-local" name="Date" value="@Model.Date.ToString("yyyy-MM-ddTHH:mm")" />
    </div>
</div>

    <div class="">
        @{
            string imageurl = "/Content/Images/Events/default.png";
            if (Model.HasPic)
            {
                imageurl = "/Content/Images/Events/" + Model.EventId + "." + Model.PicExtension;
            }
        }
        <div class="">
            <img id="event-banner" style="display:block; max-width:800px; padding-bottom:5px;" alt="@Model.Title" src="@imageurl" />
        </div>

    </div>
    <div class="form-group">
        <input class="col-md-4" id="eventPic" type="file" name="eventPic" />
    </div>

    @*<div class="form-group">
            @Html.LabelFor(model => model.HasPic, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.HasPic)
                    @Html.ValidationMessageFor(model => model.HasPic, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>*@

    @*<div class="form-group">
            @Html.LabelFor(model => model.PicExtension, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PicExtension, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PicExtension, "", new { @class = "text-danger" })
            </div>
        </div>*@

<div class="form-group">
    @*@Html.LabelFor(model => model., htmlAttributes: new { @class = "control-label col-md-2" })*@
    <label class="control-label col-md-2">Description:</label>
    <div class="col-md-10">
        @*@Html.EditorFor(model => model.Description, new { htmlattributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })*@
        <textarea class="form-control" name="Description" value="@Model.Description"></textarea>
    </div>
</div>

<div class="form-group">
    @* @Html.LabelFor(model => model., "DepartmentId", htmlAttributes: new { @class = "control-label col-md-2" })*@
    <label class="control-label col-md-2">Department:</label>
    <div class="col-md-10">
        @*@Html.DropDownList("DepartmentId", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.DepartmentId, "", new { @class = "text-danger" })*@
        <select class="form-control" name="DepartmentId">
            <option value="x">Please Select</option>
            @foreach (var department in ViewData["Departments"] as IEnumerable<HospitalCMS.Models.DepartmentDto>)
            {
                string selected = department.DepartmentId == Model.DepartmentId ? "selected" : "";
                <option @selected value="@department.DepartmentId">@department.Name</option>

            }
        </select>
    </div>
</div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "List")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
