@model HospitalCMS.Models.AppointmentDto

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Appointment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Doctor Name
        </dt>

        <dd>
            @Model.Doctor.Name
        </dd>

        <dt>
            Patient First Name
        </dt>

        <dd>
            @Model.Patient.FirstName 
        </dd>

        <dt>
            Schedule
        </dt>

        <dd>
            @Model.Schedule
        </dd>

        <dt>
            Doctor Notes
        </dt>

        <dd>
            @Model.DoctorNotes
        </dd>

    </dl>

    @using (Html.BeginForm("Delete", "Appointment", new { id = Model.AppointmentId }, FormMethod.Post)) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
