@model IEnumerable<HospitalCMS.Models.AppointmentDto>

@{
    ViewBag.Title = "List";
}

<h2>Appointment List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Doctor Name
        </th>
        <th>
            Patient First Name
        </th>
        <th>
            Schedule
        </th>
        
        <th></th>
    </tr>
    @if (Model is null)
    {
        <tr>
            <td colspan="4">
                No Appointments to display
            </td>
        </tr>
    }
    else
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Doctor.Name
                </td>
                <td>
                    @item.Patient.FirstName
                </td>
                <td>
                    @item.Schedule
                </td>
               
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.AppointmentId })
                    @if (User.IsInRole("Admin"))
                    {
                        <span>|</span>
                        @Html.ActionLink("Delete", "ConfirmDelete", new { id = item.AppointmentId })
                    }

                </td>
            </tr>
        }
    }

</table>
