@model IEnumerable<HospitalCMS.Models.AppointmentDto>

@{
    ViewBag.Title = "List";
}

<h2>Appointment List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.Doctor.Name)*@
            Name
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Patient.FirstName)*@
            First Name
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Schedule)*@
            Schedule
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.DoctorNotes)*@
            Doctors Notes
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @*@Html.DisplayFor(modelItem => item.Doctor.Name)*@
            @item.Doctor.Name
        </td>
        <td>
            @*@Html.DisplayFor(modelItem => item.Patient.FirstName)*@
            @item.Patient.FirstName
        </td>
        <td>
            @*@Html.DisplayFor(modelItem => item.Schedule)*@
            @item.Schedule
        </td>
        <td>
            @*@Html.DisplayFor(modelItem => item.DoctorNotes)*@
            @item.DoctorNotes
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id=item.AppointmentId }) |
            @Html.ActionLink("Delete", "ConfirmDelete", new { id=item.AppointmentId })
        </td>
    </tr>
}

</table>
