@model IEnumerable<HospitalCMS.Models.AppointmentDto>

@{
    ViewBag.Title = "List";
}

<h2>Appointment List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Doctor Name
        </th>
        <th>
            Patient First Name
        </th>
        <th>
            Schedule
        </th>
        <th>
            Doctor Notes
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @item.Doctor.Name
        </td>
        <td>
            @item.Patient.FirstName
        </td>
        <td>
            @item.Schedule
        </td>
        <td>
            @item.DoctorNotes
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id=item.AppointmentId }) |
            @Html.ActionLink("Delete", "ConfirmDelete", new { id=item.AppointmentId })
        </td>
    </tr>
}

</table>
