@model HospitalCMS.Models.ArticleDto
@using Microsoft.AspNet.Identity


@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Article</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Event Title
        </dt>

        <dd>
            <a href="/Event/Details/@Model.EventId">
                @Model.Event.Title
            </a>
        </dd>

        <dt>
            Article Title
        </dt>

        <dd>
            @Model.Title
        </dd>

        <dt>
            Picture
        </dt>

        <dd>
            @{
                string imageurl = "/Content/Images/Articles/default.png";
                if (Model.HasPic)
                {
                    imageurl = "/Content/Images/Articles/" + Model.ArticleId + "." + Model.PicExtension;
                }
            }
            <div><img style="display:block; max-width:800px;" alt="@Model.Title" src="@imageurl" /></div>
        </dd>

        <dt>
            Description
        </dt>

        <dd>
            @Model.Description
        </dd>

    </dl>
</div>
<div style="margin-left: 15%; margin-top: 8%;">
    <h3>Comments</h3>
    @foreach (var comment in Model.Comments)
    {
        var name = "";
        if (comment.Patient != null)
        {
            name = comment.Patient.FirstName + " " + comment.Patient.LastName;
        }

        if (comment.Doctor != null)
        {
            name = comment.Doctor.Name;

        }
        <p>@name : @comment.CommentText </p>
    }
    <form action="/Comment/Create" method="post">

        <input type="hidden" name="ArticleId" value="@Model.ArticleId" />

        @if (User.IsInRole("Patient"))
        {
            <input type="hidden" name="PatientEmail" value="@User.Identity.GetUserName()" />

        }

        @if (User.IsInRole("Doctor"))
        {
            <input type="hidden" name="DoctorEmail" value="@User.Identity.GetUserName()" />

        }


        <textarea style="width: 100%; margin-bottom: 4%; " class="form-control" type="text" name="CommentText" placeholder="Write your comments here" autocomplete="off"></textarea>

        <input style="width:100%" class="btn btn-primary" type="submit" value="Post" />

    </form>
</div>
<p>
    @if (User.IsInRole("Admin"))
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.ArticleId }) <span>|</span>
    }
    @Html.ActionLink("Back to List", "List")
</p>
