@model HospitalCMS.Models.ArticleDto

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Article</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Event Title
        </dt>

        <dd>
            @Model.Event.Title
        </dd>

        <dt>
            Title
        </dt>

        <dd>
            @Model.Title
        </dd>

        <dt>
            Picture
        </dt>

        <dd>
            @Model.HasPic
        </dd>

        <dt>
           Picture Extension
        </dt>

        <dd>
            @Model.PicExtension
        </dd>

        <dt>
            Description
        </dt>

        <dd>
            @Model.Description
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ArticleId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
