@model IEnumerable<HospitalCMS.Models.DepartmentDto>
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "List";
}

<h2>Department List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<form action="/Department/ListDepartments" method="GET">
    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-md-3">
                <input style="width:100%" class="form-control" type="text" name="SearchKey" autocomplete="off" />
            </div>
            <div class="col-md-2">
                <input style="width:100%" class="btn btn-primary" type="submit" value="Search" />
            </div>
        </div>
    </div>
</form>

<table class="table">
    <tr>
        <th>
            Department
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @item.Name
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.DepartmentId }) |
            @Html.ActionLink("Details", "Details", new { id=item.DepartmentId }) |
            @Html.ActionLink("Delete", "ConfirmDelete", new { id=item.DepartmentId })
        </td>
    </tr>
}

</table>
