@model HospitalCMS.Models.FAQ

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>FAQ</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        <label class="control-label col-md-2">Question:</label>

        <div class="col-md-10">
            <input class="form-control" style="max-width:100% !important" name="Question">
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Answer:</label>

        <div class="col-md-10">
            <textarea class="form-control" style="max-width:100% !important" class="form-control" rows="10" cols="80" name="Answer"></textarea>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Department:</label>

        <div class="col-md-10">
            <select class="form-control" name="DepartmentId">
                <option value="x">Please Select</option>
                @foreach (var department in ViewData["Departments"] as IEnumerable<HospitalCMS.Models.DepartmentDto>)
                {
                    <option value="@department.DepartmentId">@department.Name</option>

                }
            </select>
        </div>
    </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "List")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
