@model IEnumerable<HospitalCMS.Models.FAQDto>

@{
    ViewBag.Title = "List";
}

<h2>FAQ List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>


<div id="accordion">
    @if (Model != null && Model.Count() != 0)
    {
        foreach (var faq in Model)
        {
            <h3 class="question">@faq.Question</h3>
            <div class="answer">
                <p>
                    @faq.Answer
                </p>
                @Html.ActionLink("Edit", "Edit", new { id = faq.FAQId }) |
                @Html.ActionLink("Details", "Details", new { id = faq.FAQId }) |
                @Html.ActionLink("Delete", "ConfirmDelete", new { id = faq.FAQId })
            </div>
        }
    }

</div>