@model IEnumerable<HospitalCMS.Models.FAQDto>

@{
    ViewBag.Title = "List";
}

<h2>FAQ List</h2>
@if (User.IsInRole("Admin"))
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}



@if (Model != null && Model.Count() != 0)
{
    var faqgroup = Model.GroupBy(x => x.Department.Name);
    foreach (var faqs in faqgroup.OrderByDescending(x => x.Key))
    {
        <h3>@faqs.Key Department</h3>
        <div class="accordion">
            @foreach (var faq in faqs)
            {
            
                <h3 class="panel-title question ui-accordion-header-collapsed">@faq.Question</h3>
            
                <div class="answer">
                    <p>
                        @faq.Answer
                    </p>

                    @Html.ActionLink("Details", "Details", new { id = faq.FAQId })
                    @if (User.IsInRole("Admin"))
                    {
                        <span>|</span>
                        @Html.ActionLink("Edit", "Edit", new { id = faq.FAQId })
                        <span>|</span>
                        @Html.ActionLink("Delete", "ConfirmDelete", new { id = faq.FAQId })
                    }
                </div>

            }
        </div>


    }
}

