@model HospitalCMS.Models.PatientDto

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Patient</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            First Name
        </dt>

        <dd>
            @Model.FirstName
            </dd>

        <dt>
            Last Name
        </dt>

        <dd>
            @Model.LastName 
            </dd>

         <dt>
            DOB
        </dt>

        <dd>
            @Model.DOB
            </dd>

        <dt>
            Gender
        </dt>

        <dd>
            @Model.Gender
            </dd>

        <dt>
            Mobile
        </dt>

        <dd>
            @Model.Mobile
            </dd>

        <dt>
            Email
        </dt>

        <dd>
            @Model.Email
            </dd>

        <dt>
            Marital Status
        </dt>

        <dd>
            @Model.MaritalStatus
            </dd>

        <dt>
            Address 1
        </dt>

        <dd>
            @Model.Address1
            </dd>

        <dt>
            Address 2
        </dt>

        <dd>
            @Model.Address2
            </dd>

        <dt>
            City
        </dt>

        <dd>
            @Model.City
            </dd>

        <dt>
            Country
        </dt>

        <dd>
            @Model.Country
            </dd>

        <dt>
            PostalCode
        </dt>

        <dd>
            @Model.PostalCode
            </dd>

        </dl>
        </div>
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.PatientId }) |
            @Html.ActionLink("Back to List", "List")
        </p>
