@model IEnumerable<HospitalCMS.Models.PatientDto>

@{
    ViewBag.Title = "List";
}

<h2>Patient List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.FirstName)*@
            First Name
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.LastName)*@
            Last Name
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Mobile)*@
            Mobile
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Email)*@
            Email
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @*@Html.DisplayFor(modelItem => item.FirstName)*@
            @item.FirstName
        </td>
        <td>
            @*@Html.DisplayFor(modelItem => item.LastName)*@
            @item.LastName
        </td>
        <td>
            @*@Html.DisplayFor(modelItem => item.Mobile)*@
            @item.Mobile
        </td>
        <td>
            @*@Html.DisplayFor(modelItem => item.Email)*@
            @item.Email
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PatientId }) |
            @Html.ActionLink("Details", "Details", new { id=item.PatientId }) |
            @Html.ActionLink("Delete", "ConfirmDelete", new { id=item.PatientId })
        </td>
    </tr>
}

</table>
